body{
    margin: 0;
}
#content{
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    margin: 0;
    
}

.today{
    background-image: url('../src/todayicon.png');
}

.upcoming{
    background-image: url("../src/upcoming.png")
}

.tasks{
    background-image: url("../src/tasks.png")
}

.mylist{
    background: url('../src/my.png');
    display: flex;
}

h1{
    background-image: url("../src/settings.png");
}
.today, .upcoming, .tasks, .mylist, h1{
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.leftsidebar{
    display: flex;
    height: 100vh;
    width: 245px;
    background-color: rgb(61, 118, 118);
    flex-direction: column;
    gap: 100px;
    
}

ul {
    flex-direction: column;
    display: flex;
    list-style: none;
    font-size: 1em;
    font-weight: bold;
    row-gap: 13px;
}

.right{
  flex-grow: 1;
  background-color: papayawhip; 
}

.welcomemsg{
    background-image: none;
    cursor: auto;
    display: none;
}

.upcomingmsg{
    display: flex;
   text-align: center;
    justify-content: space-between;
    color: white;   
    gap: 30px;
}
.upcomingmon, .upcomingtue, .upcomingwed, .upcomingthu, .upcomingfri, .upcomingsat, .upcomingsun{
    width: 300px;
    height: 400px;
    background-color: rgb(113, 175, 154);
    border-radius: 6px;
}

input{
    display: flex;
    border-radius: 4px;
    margin: auto;
    background-color: aquamarine;   
    width: 250px;
    margin-top: 20px;
    border: 1px solid white;
}