body{
    margin: 0;
}
#content{
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    background-color: papayawhip; 
    margin: 0;
    
}

.sidebarh{
    display: flex;
    background-image: url('../src/settings.png');
    width: 45px;
    height: 45px;
    border: 3px solid rgb(220, 34, 34);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 18px 0px 8px 26px;
}
.today{
    background-image: url('../src/todayicon.png');
}

.upcoming{
    background-image: url("../src/upcoming.png")
}

.tasks{
    background-image: url("../src/tasks.png")
}

.mylist{
    background: url('../src/my.png');
    display: flex;
}

h1{
    background-image: url("../src/settings.png");
}
.today, .upcoming, .tasks, .mylist, h1{
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.leftsidebar{
    display: none;
    height: 100vh;
    width: 245px;
    background-color: rgb(61, 118, 118);
    flex-direction: column;
    gap: 100px;
    
}

ul {
    flex-direction: column;
    display: flex;
    list-style: none;
    font-size: 1em;
    font-weight: bold;
    row-gap: 13px;
}

.right{
  flex-grow: 1;
  background-color: papayawhip; 
}

.welcomemsg{
    background-image: none;
    cursor: auto;
    display: none;
}

.upcomingmsg{
    display: none;
   text-align: center;
    justify-content: space-between;
    color: white;   
    gap: 30px;
}
.upcomingmon, .upcomingtue, .upcomingwed, .upcomingthu, .upcomingfri, .upcomingsat, .upcomingsun{
    width: 300px;
    height: 400px;
    background-color: rgb(113, 175, 154);
    border-radius: 6px;
}

input{
    display: flex;
    border-radius: 4px;
    margin: auto;
    background-color: aquamarine;   
    width: 250px;
    margin-top: 20px;
    border: 1px solid white;
}

.taskhead{
    border-radius: 4%;
    background-color: aqua;
    width: 500px;
    margin-left: 30px;
    text-align: center;
    display: none;
}

.taskbody{
    background-color: blueviolet;
    width: 350px;
    height: 550px;
    display: none;
}

.taskinput, .personal1ipt, .personal2ipt{
    width: 95%;
    margin-top: 300px;
}

.personal1{
    display: none;
    border-radius: 10rem;
    background-color: aqua;
    width: 500px;
    margin-left: 30px;
    text-align: center;
    padding: 11px;
    margin-top: 24px;
}

.personalctr{
    background-color: blueviolet;
    width: 350px;
    height: 550px;
    display: none;
    border-radius: 1rem;
    margin-left: 30px;
    margin-top: 20px;
}

.personallist{
    width: 100%;
    height: 100%;
  display: none;
}

.personal2{
    display: flex;
    border-radius: 10rem;
    background-color: aqua;
    width: 500px;
    margin-left: 30px;
    text-align: center;
    padding: 11px;
    margin-top: 24px;
}

.personal2ctr{
    background-color: blueviolet;
    width: 350px;
    height: 550px;
    display: none;
    border-radius: 1rem;
    margin-left: 30px;
    margin-top: 20px;
}

